In [31]:
import pandas as pd
xls = pd.ExcelFile('Excel_test_dlouhy.xlsx')
prevoz = pd.read_excel(xls, 'transport_zavody')
prevoz.groupby(['ID_zavodu_vychozi','ID_zavodu_cilove']).sum()['Objem_v_kg']

ID_zavodu_vychozi  ID_zavodu_cilove
ZP10               ZP20                187532
                   ZP30                143354
ZP20               ZP10                216874
                   ZP30                169439
ZP30               ZP10                165992
                   ZP20                206030
Name: Objem_v_kg, dtype: int64